﻿﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Price Quotation App</h1>
</div>

<div>

    <p>
        Subtotal: &emsp; <input type="number" id="subtotalValue" name="txtSubtotal">
    </p>    <span id="subtotalError"></span> <br />

    <p>
        Disount percent: &emsp; <input type="number" id="discountPercentage" name="txtDiscountPercentage">
    </p>    <span id="discountPercentageError"></span> <br />

    <p>
        Discount amount: &emsp; <span id="discountAmount"></span>
    </p>

    <p>
        Total: &emsp; <span id="Total"></span>
    </p>

    <button type="button" id="calculateButton">Calculate</button>
    <a href="google.com">Clear</a>
</div>