@model PriceQuotationApp.Models.PriceQuotation

@{
    ViewData["Title"] = "Price Quotation";
}

<main>
      <h2>Price Quotation</h2>

      <body>
        <form asp-action="Index" method="post">

            <div>
                <label asp-for="Subtotal">Subtotal:</label>
                <input asp-for="Subtotal" type="number" />
            </div>
            <br />
            <div>
                <label asp-for="DiscountPercent">Discount Percent:</label>
                <input asp-for="DiscountPercent" type="number" />
            </div>
            <br />
            <div>
                <button type="submit">Calculate</button>
                <br />
                <a asp-action="Index">Clear</a>
            </div>
    
            <div>
                <label>Discount Amount:</label>
                <span>@Model.DiscountAmount.ToString("C")</span>
            </div>
    
            <div>
                <label>Total:</label>
                <span>@Model.Total.ToString("C")</span>
            </div>

        </form>
    </body>
</main>